<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vineture.wowhubb">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="com.wowhubb.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.truiton.supportmapfragment.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="vineture.wowhubb.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name="vineture.wowhubb.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYHEiseekr8Ka4gLCxC4CE85tB6euYwYk" />

        <activity
            android:name="vineture.wowhubb.Activity.EventFeedDashboard"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ViewRsvp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ViewGroupMembers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name="vineture.wowhubb.Activity.LandingWowSearch"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.UpdateGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.MyEventFeedsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.QuickCreateEvent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.TodayEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.AddContactsInvite"
            android:label="Contacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.EventInviteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.QuickCreateEventVenues"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".Activity.ProfilePersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name=".Activity.ProfileProfessionalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>




        <activity
            android:name="vineture.wowhubb.Activity.CreateGroup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name="vineture.wowhubb.Activity.ViewEventDiscussions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.RegisterAllDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ShareThoughtsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="vineture.wowhubb.Activity.RegisterBdayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="vineture.wowhubb.Activity.ViewFeedActivityDetails"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="vineture.wowhubb.Activity.RegisterOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vineture.wowhubb.Activity.LoginForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vineture.wowhubb.Activity.LoginActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ViewMoreDetailspage"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.LoginResetActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="vineture.wowhubb.Activity.LandingPageActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="vineture.wowhubb.Activity.InterestActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.SettingsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.AccountsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ShareThoughtsUrlActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.SettingsNotificationsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.AccountsPrivacyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.CreateEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.ProfilePersonal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">


        </activity>
        <activity
            android:name="vineture.wowhubb.Activity.RegisterCountryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ted_pick_theme" />
        <activity android:name="vineture.wowhubb.Activity.LoginOtpActivity">

        </activity>
        <activity android:name="vineture.wowhubb.Activity.FeedActivityVideo">

        </activity>
        <activity android:name="vineture.wowhubb.Activity.FeedActivityImage">

        </activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="vineture.wowhubb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="vineture.wowhubb.Nearbyeventsmodule.PlayMultipleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>


        <activity
            android:name="vineture.wowhubb.Nearbyeventsmodule.Activity.NearbyCategoryActivity"
            android:parentActivityName="vineture.wowhubb.Activity.LandingPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>


        <activity
            android:name="vineture.wowhubb.Nearbyeventsmodule.EmptyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>


        <activity
            android:name="vineture.wowhubb.Nearbyeventsmodule.Activity.AllNearbyEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>

        <activity
            android:name="vineture.wowhubb.Nearbyeventsmodule.NearbyEventIndividualPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>

        <activity
            android:name="vineture.wowhubb.Nearbyeventsmodule.Activity.PlayVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>


        <activity
            android:name="vineture.wowhubb.wowtag.Activity.PaticularWowtagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>
        <activity
            android:name="vineture.wowhubb.wowtag.Activity.WowtagRsvp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>
        <activity
            android:name="vineture.wowhubb.EventServiceProvider.Activity.EventListDetailsNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>

        <activity
            android:name="vineture.wowhubb.EventServiceProvider.Activity.ViewBusinessPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>


        <activity
            android:name="vineture.wowhubb.EventServiceProvider.Activity.EnquiryWithUs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>


        <activity
            android:name="vineture.wowhubb.EventServiceProvider.Activity.FilterEventProvider"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>
        <activity
            android:name="vineture.wowhubb.EventServiceProvider.Activity.EventServiceProviderActivity"
            android:parentActivityName="vineture.wowhubb.Activity.LandingPageActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        //Search and Book Events

        <activity
            android:name="vineture.wowhubb.ShareBookEvents.Activity.SearchBookMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>

        <activity
            android:name="vineture.wowhubb.ShareBookEvents.Activity.SearchEventIndividualPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>

        <activity
            android:name="vineture.wowhubb.ShareBookEvents.Activity.EnquiryVenue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>
        <activity
            android:name="vineture.wowhubb.ShareBookEvents.Activity.EnquiryNext"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustUnspecified"></activity>


    </application>

</manifest>