<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wowhubb">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.EventFeedDashboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.RegisterAllDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.RegisterBdayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.LoginOtpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.LoginForgotActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterCountryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.InterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateEventActivity"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>